body {
  /* padding: 50px; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#back-ground {
  background: rgb(84, 197, 241);
  width: 1200px;
  height: 890px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-list {
  background: #fff;
  width: 355px;
  font-size: 25px;
  margin: 120px auto;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
#listItems {
  /* background-color: orange; */
  overflow: hidden;
  height: 300px;
  overflow-y: auto;
}
li {
  padding: 10px 0px 10px 0px;
  position: relative;
}
#completed {
  height: 30px;
  width: 110px;
}
#uncompleted {
  height: 30px;
  width: 130px;
}
#all {
  height: 30px;
  width: 100px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  border-color: rgb(228, 217, 217);
  background-color: mediumpurple;
  color: white;
}
#all,
#completed,
#uncompleted {
  padding: 8px;
  border-radius: 20px;
  border: none;
  border-color: rgb(228, 217, 217);
  background-color: mediumpurple;
  color: white;
}
#submit {
  width: 40px;
  height: 40px;
}
#inputData {
  height: 40px;
  width: 308px;
  border-radius: 20px;
}
.task {
  display: flex;
  margin-left: -32px;
}

.delete {
  margin-left: auto;
}
.edit {
  margin-right: -50px;
}
.task:hover {
  background-color: red;
  margin-right: 50px;
}
.completed {
  text-decoration: line-through;
}
.lds-dual-ring {
  display: block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(250, 250, 250);
  border-color: rgb(43, 40, 230) transparent rgb(14, 209, 40) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup {
  display: inline-block;
  background-color: blanchedalmond;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  position: fixed;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
  width: 100%;
  position: fixed;
  display: none;
}
.fas {
  font-size: 20px;
}
.fa-angle-double-left:focus {
  background: #337ab7;
  color: white !important;
}
#pagination {
  display: flex;
}
.numbers:focus {
  background: #337ab7;
  color: white !important;
}
