body {
  background: orange;
}
.completed {
  text-decoration: line-through;
}
.lds-dual-ring {
  display: block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup {
  height: 100px;
  width: 250px;
  display: inline-block;
  background-color: blanchedalmond;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  position: fixed;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
  width: 100%;
  position: fixed;
  display: none;
}
